/* game container */
#gameContainer{
    text-align: center;
    margin:auto;
}
/* heading */
h1{
 background-color: aqua;
 width:300px;
 margin:auto;
}
p{
                    font-size: 50px;
                    background-color: pink;
                    width:800px;
                    margin:auto;
}
/* gameboard */
#gameBoard{
    border: 3px solid;
    margin-top:20px;

}
 /* score */
#scoreText{
    font-family: "consolas", monospace;
    font-size: 100px;
}
/* reset button */
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}